@*partial views are meant for design reusability.slider is required for multiple users (customer,anonymous,admin,emp).as we need to implement them in multiple pages we go for partial views.*@

@using OnlineRestaurantApp.Dal
@inject OnlineRestaurantDbContext context

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        @{
            int i = 0;
            foreach (Slider s in context.sliders)
            {
                if (i == 0)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i+1"></button>
                }
                else
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
                }
                i += 1;
            }
        }



    </div>
    <div class="carousel-inner">
        @{
            int j = 0;
            foreach (Slider s in context.sliders)
            {
                if (j == 0)
                {
                    <div class="carousel-item active">
                        <img src="@s.SliderImagePath" class="d-block w-100" alt="@s.SliderText">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@s.SliderText</h5>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@s.SliderImagePath" class="d-block w-100" alt="@s.SliderText">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@s.SliderText</h5>
                        </div>
                    </div>
                }

            }
        }



    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>